.back {
    background-image: url(images\Card_Back.svg);
    border: none;
    padding: 0px;
}
.two.clubs {
    background-image: url(images\English pattern 2 of clubs.svg);
}
.ace.spades {
    background-image: url(/images/English\ pattern\ ace\ of\ spades.svg);
}
