body, html {
    background-color: #ccc;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

nav {
    position: fixed;
    height: 5vh;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
}

nav ul {
    list-style: none;
    color: white;
    display: flex;
}

nav li {
    margin: 0 1rem 0 1rem;
}

nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

h1,h2,h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h2 {
    margin: 1rem 0 1rem 0;
}

main {
    height: 80vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

#hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 2rem;
    height: 90%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    background-color: white;
    margin: 2rem;
    font-size: 1.5rem;
    transition: 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #c8102e;
    color: white;
    transform: scale(1.15);
}

.btn:active {
    transform: scale(1);
}

#hand:hover .card {
    transform: scale(.90);
}

#hand .card:hover {
    box-shadow: 10px 10px 5px grey;
    transform: scale(1.15);
    cursor: grab;
}

.card {
    height: 88.000046mm;
    width: 63.000134mm;
    transition: .25s;
    border: 2px solid black;
    border-radius: 15px;
    margin: 1rem;
}

#new-card {
    font-size: 10rem;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

.card:not(.back) {
    background-color: white;
    display: inline-grid;
    grid-template-rows: 15px 1r 15px;
    grid-template-columns: 15px 1r 15px;
}

.card .ace {
    content: "hi";
}

@media only screen and (max-width: 824px) {
    .card {
        transform: scale(.75);
        margin: 0;
    }
    main {
        height: 30vh;
    }
}